<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Alumni Update</h1>
<form action="#" th:action="@{/alumni/update}" method="post" th:object="${alumni}">
    <div class="row mb-3 disabled">
        <label for="alumnid" class="col-sm-2 col-form-label" >AlumniId</label>
        <div class="col-sm-10">
            <input type="text" readonly  class="form-control" id="alumnid" th:field="*{alumniId}" >
        </div>
    </div>
    <div class="row mb-3 disabled" >
        <label for="alumniEmail" class="col-sm-2 col-form-label" >Email</label>
        <div class="col-sm-10">
            <input type="email" readonly  class="form-control" id="alumniEmail" th:field="*{email}" >
        </div>
    </div>
    <div class="row mb-3">
        <label for="firstName" class="col-sm-2 col-form-label" >First Name</label>
        <div class="col-sm-10">
            <input type="text"  class="form-control" id="firstName" th:field="*{firstName}" >
        </div>
    </div>
    <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label" >Last Name</label>
        <div class="col-sm-10">
            <input type="text"  class="form-control" id="lastName" th:field="*{lastName}" >
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</body>
</html>