<div class="d-flex flex-column" th:fragment="event" >
    <table id="registered-alumni" class="table display" style="width:100%" th:if="${ not#lists.isEmpty(alumni)}">
        <thead>
        <tr>
            <th>Alumni Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Number of Events Attended</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="alumnus : ${alumni}" >
            <td th:text="${alumnus.alumniId}"></td>
            <td th:text="${alumnus.firstName}"></td>
            <td th:text="${alumnus.lastName}"></td>
            <td th:text="${alumnus.email}"></td>
            <td th:text="${alumnus.numberOfEventsAttended}"></td>

            <td class="edit">
                <div class="d-flex flex-row flex-wrap justify-content-around align-content-center">
                    <div>
                        <form method="get" th:action="@{/events/{eventId}/unregister/{alumniId}(eventId=${eventId},alumniId=${alumnus.alumniId})}">
                            <button type="submit" class="btn ">
                                <img src="../static/images/delete.png" alt="delete" th:src="@{images/delete.png}" width="20" height="20">
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>