<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h1>User Create</h1>
<form action="#" th:action="@{/users/create}" method="post" th:object="${user}">
    <div class="row mb-3 ">
        <label for="userEmail" class="col-sm-2 col-form-label" >Email</label>
        <div class="col-sm-10">
            <input type="email"  class="form-control" id="userEmail" th:field="*{email}" >
        </div>
    </div>
    <div class="row mb-3 ">
        <label for="userPassword" class="col-sm-2 col-form-label" >Password</label>
        <div class="col-sm-10">
            <input type="password"  class="form-control" id="userPassword" th:field="*{password}" >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is-admin" th:field="*{admin}">
                <label class="form-check-label" for="is-admin">
                    ADMIN
                </label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is-organiser" th:field="*{organiser}">
                <label class="form-check-label" for="is-organiser">
                    ORGANISER
                </label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is-alumni" th:field="*{alumni}">
                <label class="form-check-label" for="is-alumni">
                    ALUMNI
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</body>
</html>